.layout.layout--narrow
	.content-center.about-clean
		h2 Про уборки
		div
			div
				.clean-title
					| Клинер приедет со всем необходимым для уборки. Стоимость уборки рассчитывается от количества комнат.
				.js-tabs
					.tabs__link.clean-menu
						p.clean-menu__tariff В каждый тариф входит уборка:
						button.link.js-tabs-link-title.active.link__tariff(type="submit") В комнате
						button.link.js-tabs-link-title.link__tariff(type="submit") На кухне
						button.link.js-tabs-link-title.link__tariff(type="submit") В ванной и туалете
						button.link.js-tabs-link-title.link__tariff(type="submit") В коридоре
					.tabs__block.img-room
						.clean-menu__img.js-tabs-block-content.visible
							img(src="./img/room.png")
						.clean-menu__img.js-tabs-block-content
							img(src="./img/room1.png", alt="Комната")
						.clean-menu__img.js-tabs-block-content
							img(src="./img/room2.png", alt="Комната")
						.clean-menu__img.js-tabs-block-content
							img(src="./img/room3.png", alt="Комната")
			.clean-info
				.clean-info__name.blue-dot
					| Поддерживающая уборка
				.clean-info__name.yellow-dot
					| Генеральная уборка
	.content-center.type-clean
		h2.text-center Типы уборки
		.flex.type-clean__block
			-
				paragraph = [
					['Протираем мебель сверху донизу'],
					['Чистим зеркала и стеклянные поверхности'],
					['Пылесосим ковры'],
					['Моем пол'],
					['Убираем мусор'],
					['Вычищаем пыль из углов'],
					['Протираем плинтусы'],
				]
			.panel-shadow.panel-box
				.type-clean__box
					.text-center
						span.type-clean__name.blue-dot Поддерживающая
					.type-clean__panel
						ul.type-clean__list
							each item in paragraph
								li.type-clean__list-item.check-mark=item
				.price-box
					.flex
						.price-box__common
							p.price-box__name Стоимость уборки:
							p.price-box__subname во всех комнатах
						p.price-box__price 1590 руб.
					.text-center.text-md-left
						a.price-box__btn(href="#") Оформить заявку
			.panel-shadow.panel-box
				.type-clean__box
					.text-center
						span.type-clean__name.yellow-dot Генеральная
					.type-clean__panel
						ul.type-clean__list
							each item in paragraph
								li.type-clean__list-item.check-mark=item
						div 
							.type-clean__subname Генеральная:
							ul.type-clean__sublist
								li.type-clean__list-item.plus-mark Мойка радиатора отопления
								li.type-clean__list-item.plus-mark Очистка выключателей и дверных ручек
								li.type-clean__list-item.plus-mark Обеспыливание настенных светильников
				.price-box
					.flex
						.price-box__common
							p.price-box__name Стоимость уборки:
							p.price-box__subname во всех комнатах
						p.price-box__price 1990 руб.
					.text-center.text-md-left
						a.price-box__btn(href="#") Оформить заявку
	.content-center.panel-shadow.counter
		.counter__col
			p.counter__name Счетчик OZOZON
			p.counter__date 23 июля 2017
		.text-center.counter__col
			p.counter__value 16882
			p.counter__text Квартир убрано
		.text-center.counter__col
			p.counter__value 17
			p.counter__text Сегодня в работе
		.text-center.counter__col
			p.counter__value 2
			p.counter__text Свободные клинеры