.advantages
	.layout.layout--advantages
		h2.text-center Вы обязательно останетесь довольны, ведь мы...
		.cards
			-
				cards = [
					['./img/card1.png', 'Используем только уникальные экологичные средства'],
					['./img/card2.png', 'Отбираем только самых лучших клинеров'],
					['./img/card3.png', 'Используем особо эффективную технологию уборки'],
					['./img/card4.png', 'Очень любим наших клиентов и предоставляем скидки']
				]
			each item in cards
				.cards__item
					.cards__img(style="background-image: url("+ item[0] + ")")
					p.cards__title=item[1]