.reviews
	.layout
		h2.text-center Отзывы
.reviews__box
	.layout.text-center
		.reviews__bg.content-center
			.owl-carousel.my-carousel(id="js-carousel-1")
				img.carousel-item.content-center.reviews__img(src="./img/cover.png")
				img.carousel-item.content-center.reviews__img(src="./img/cover.png")
				img.carousel-item.content-center.reviews__img(src="./img/cover.png")
		a.reviews__link(href="#") Все отзывы