div
	.layout.mod
		h2 Отзывы
div
	.layout.mod
		div.owl-carousel.slaider
			div.carousel-item
				img(src="./img/cover.png", alt="")
			//- div.carousel-item
			//- 	img(src="./img/cover.png", alt="")
			//- div.carousel-item
			//- 	img(src="./img/cover.png", alt="")
		a(href="#") Все отзывы