.layout--narrow
	max-width: 1100px

.about-clean
	margin-top: 50px
	text-align: center

.type-clean
	margin-top: 70px

	&__title
		text-align: center	

.counter
	margin-top: 50px
	display: flex
	justify-content: space-between
	// align-items: center
	padding: 66px 58px 51px

	&__name
		font-size: 24px

	&__date
		font-weight: 300
		color: #999999
		font-size: 18px
		margin-top: 5px

	&__value
		font-size: 48px
		font-weight: 400
		color: #6fe0f1
		line-height: 1

	&__text
		font-weight: 300
		font-size: 17px
		margin-top: 10px

	&__col
		flex: 1 0 25%

		&:first-child
			margin-right: 20px

.row
	display: flex
	margin-right: -15px
	margin-left: -15px
	flex: 1 0 auto

.col
	// padding: 0 15px
	// width: 33.33%

	// &:last-child
	padding-right: 50px

.panel-shadow
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
	border-radius: 10px

.pannel-box
	// padding: 0px 80px
	display: flex
	flex-direction: column
	justify-content: space-between

.for-indent
	margin-right: 75px

.clean-title
	font-size: 18px
	font-weight: 300
	margin-top: 23px

.clean-menu
	font-size: 18px
	font-weight: 300
	margin-top: 17px
	display: flex
	justify-content: center

	&__tariff
		margin-right: 22px

	&__img
		background-repeat: no-repeat
		background-size: contain
		max-width: 977px
		width: 100%
		height: 551px
		margin: 0 auto

.link
	color: #666666
	border-bottom: 1px dashed #666666

	&__tariff
		margin-right: 30px
		// &:hover
		// 	color: #62d5e9
		// 	border-bottom: none

// .tabs__link-title--active
// 	color: #62d5e9
// 	border-bottom: none

.img-room
	margin-top: 36px

.clean-info
	display: flex
	justify-content: space-around
	margin-top: 14px

	&__name
		position: relative

.blue-dot::before
	content: ''
	background-image: url('../img/blue-dot.png')
	width: 13px
	height: 13px
	position: absolute
	left: -20px 
	top: 50%
	transform: translateY(-50%)

.yellow-dot::before
	content: ''
	background-image: url('../img/yellow-dot.png')
	width: 13px
	height: 13px
	position: absolute
	left: -20px 
	top: 50%
	transform: translateY(-50%)

.type-clean
	&__block
		margin-top: 38px

	&__box
		padding: 0px 80px

	&__panel
		display: flex
		flex-direction: column
		justify-content: space-between

	&__name
		position: relative
		font-size: 24px
		text-align: center
		display: inline-block
		margin-top: 36px

	&__list
		margin-top: 24px

	&__list-item
		position: relative
		line-height: 27px
		font-weight: 300

	&__subname
		margin-top: 32px
		font-weight: 500

	&__sublist
		margin-top: 3px

.check-mark::before
	content: ''
	background-image: url('../img/check-mark.png')
	width: 11px
	height: 8px
	position: absolute
	left: -30px 
	top: 50%
	transform: translateY(-50%)

.plus-mark::before
	content: ''
	background-image: url('../img/plus-mark.png')
	width: 9px
	height: 9px
	position: absolute
	left: -30px 
	top: 50%
	transform: translateY(-50%)

.price-box
	border-top: 2px solid #f6f6f5
	margin-top: 43px
	padding: 35px 80px 0px 80px

	&__name
		font-size: 15px
		font-weight: 300

	&__subname
		font-size: 14px
		font-weight: 300
		color: #999999

	&__price
		font-size: 38px
		font-weight: 400

	&__btn
		display: inline-block
		border-radius: 33px
		padding: 10px 28px
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2)
		background-image: linear-gradient(to right, #82eaad, #6fe0f1)
		margin-bottom: 35px
		margin-top: 13px

	&__common
		display: flex
		flex-direction: column
		justify-content: center
		margin-right: 27px