doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title OZOZON

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		link(rel="stylesheet", href="./css/index.css")
	body
		header.header
			.layout
				.header__top
					//- .header__box
					a.logo(href="#")
						img(src="./img/logo.png", alt="Логотип")
					.menu
						-
							menu_text = [
								['Про уборки'],
								['Оформить заказ'],
								['О нас'],
								['Отзывы'],
								['F.A.Q.'],
								['Акции']
							]
						each item in menu_text
							a.menu__link(href="#")=item[0]
					.header__contact
						a.header__phone(href="tel:+74958453444") +7 (495) 845-34-44
						a.header__login(href="#") Войти
				.header__middle
					h1.header__title Уборка квартир в Москве и Подмосковье
					.header__subtitle Идеальный порядок каждую неделю
					.header__promo от 1590 руб
				.header__form
					form.form(action="")
						label.form__label
							p.form__name Тип уборки
							select.form__select(name="type")
								option(value="Поддерживающая") Поддерживающая
								option(value="Генеральная") Генеральная
						label.form__label 
							p.form__name Количество комнат
							select.form__select(name="room")
								option(value="1-комнатная") 1-комнатная
								option(value="2-комнатная") 2-комнатная
								option(value="3-комнатная") 3-комнатная
								option(value="4-комнатная") 4-комнатная
						button.form__btn(type="submit") Оформить заявку
				.header__bottom
					| Закажите уборку на завтра прямо сейчас и получите СКИДКУ 15%. <br> Промокод: #[span.header__span YESTERDAY]

		main.main
			block content
		a.call-btn(href="#" style="background-image: url(./img/call-btn.png)")
		<script src="./js/bundle.js"></script>


							