doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title OZOZON

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		link(rel="stylesheet", href="./css/index.css")
	body
		block body
			.canvas.layout
				header.header
					.merd SUM
				main.main
					block content
				//- footer.footer
			//- <script src="./js/bundle.js"></script>


							